@page
@using Northwind.EntityModels
@model Northwind.Web.Pages.ShippersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
  <h1 class="display-2">Shippers</h1>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Compañía</th>
        <th>Telefono</th>
        <th>Ordenes</th>
      </tr>
    </thead>
    <tbody>
      @if (Model.Shippers is not null)
      {
        @foreach (Shipper s in Model.Shippers)
        {
          <tr>
            <td>@s.CompanyName</td>
            <td>@s.Phone</td>
            <td>
              <a asp-page="/Orders" asp-route-shipperId="@s.ShipperId" class="btn btn-secondary btn-sm">Ver</a>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>